
<! DOCTYPE html>
<html lang = "fr">

<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
    <title> Document </title>
</head>
  <body>
    
    <nav class="nav justify-content-center">
      
      <a href="{{ base_path }}">page d'accueil</a>
      <a href="{{ base_path ~ 'articles' }}">liste des articles</a>
      <a href="{{ base_path ~ 'admin' }}">Admin</a>
      {% block menu %}{% block username %}{% endblock username %}{% endblock menu%}
    </nav>
  </div>
    
  
    
  {% block content %}{% endblock %}
 
  </body>
</html>