{% extends 'base.html' %}

{% block menu %}
    
    {% if global.connect == 1 %}
        <a href="{{ base_path ~ 'unlocked' }}">Se deconnecter</a>
        {% block username %}
            <p>bonjour, {{ global.username }}</p>
        {% endblock username %}
    {% else %}
        <a href="{{ base_path ~ 'login' }}">Se connecter</a>
    {% endif %}
{% endblock menu %}

{% block content %}
   
    <h1>Liste des article</h1>

    {% for post in posts %}
        <div class="alert alert-secondary">{{ post.title }}</div>
        <div class="alert alert-secondary">{{ post.chapo }}</div>
        <a class="btn btn-primary" href="{{ base_path ~ 'articles/'~post.id }}">Lire la suite</a>
    {% endfor %}

{% endblock %}