{% extends 'base.html' %}
{% block title %}Creation d'un article{% endblock title %}


{% block css %}
<link href="/css/styles.css" rel="stylesheet" />

{% endblock css %}

  
{% block menu %}

{% if global.connect == 1 %}
<li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                href="{{ base_path ~ 'unlocked' }}">Se deconnecter</a></li>
{% block username %}
<li class="nav-item mx-lg-1 row align-items-center text-success">bonjour, {{ global.username }}</li>
{% endblock username %}
{% else %}
<li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                href="{{ base_path ~ 'login' }}">Se connecter</a></li>
{% endif %}
{% endblock menu %}

{% block content %}

<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Créer un article</h2>

<div class="divider-custom">
    <div class="divider-custom-line"></div>
    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
    <div class="divider-custom-line"></div>
</div>

    <div class="container">
        <div class="card-body">
            <form action="{{ base_path ~ 'admin/articles/record'}}" method="post">

                <div class="form-group">
                    
                    <input type="text" class="form-control" placeholder="Titre" name="title"required>
                </div>

                <div class="form-group">
                    
                    <textarea class="form-control" rows="3" placeholder="Chapo" name="chapo"required></textarea>
                </div>

                <div class="form-group">
                    
                    <textarea class="form-control" rows="10" placeholder="contenu" name="content" required></textarea>
                </div>

                <button class="btn btn-success">Enregistrer</button>
                <a href="{{ base_path ~ '/admin'}}"> retour</a>
            </form>
        </div>
    </div>


{% endblock %}