{% extends 'base.html' %}

{% block content %}

<a href="{{ base_path ~ '/admin'}}"><i class="fa fa-arrow-left" aria-hidden="true"></i> retour</a>

<h1>Créer un article :</h1>

<form action="{{ base_path ~ 'admin/articles/record'}}" method="post">

    <div class="form-group">
        <label for="">Titre: </label>
        <input type="text" class="form-control" placeholder="Titre" name="title">
    </div>

    <div class="form-group">
        <label for="">Chapo : </label>
        <input type="text" class="form-control" placeholder="Chapo" name="chapo">
    </div>

    <div class="form-group">
        <label for="">contenu : </label>
        <input type="text" class="form-control" placeholder="contenu" name="content">
    </div>

    <button class="btn btn-success">Enregistrer</button>

</form>
{% endblock %}