{% extends 'base.html' %}
{% block title %}Article{% endblock title %}
{% block css %}
<link href="../css/styles.css" rel="stylesheet" />
{% endblock css %}
{% block menu %}

{% if global.connect == 1 %}
<li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
    href="{{ base_path ~ 'unlocked' }}">Se deconnecter</a></li>
{% block username %}
<li class="nav-item mx-lg-1 row align-items-center text-success"><a href="{{ base_path ~ 'change' }}">bonjour, {{ global.username }}</a></li>
{% endblock username %}
{% else %}
<li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
    href="{{ base_path ~ 'login' }}">Se connecter</a></li>
{% endif %}
{% endblock menu %}

{% block content %}

    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">{{ post.title }}</h2>
        <p class="text-center  text-secondary "> Redigé par {{ post.authoruser }}</p>
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <div class="row justify-content-center"></div>
        <div class="col-md text-justify">
            <p>{{ post.chapo }}</p>
            <p>{{ post.content }}</p>
            <p class="text-muted">Derniere mise à jour: {{ post.date_maj }}</p>
        </div>

        <!-- write a comment-->



        <div class="card-body">
            {% if auth == true %}
            <form action="{{ base_path ~ 'newcomment'}}" method="post">
                <div class="form-group">
                    <div class="form-group">
                        <input type="hidden" value="{{ post.id }}" name="id">
                        <input type="hidden" value="{{ global.userid }}" name="id_author">
                        <input type="hidden" value="{{ post.id }}" name="id_post">
                        <textarea class="form-control" rows="3" placeholder="Laisser un commentaire"
                            name="comment"></textarea>

                    </div>
                    <button class="btn btn-success">Envoyer</button>
                    <div class="text-center">(le commentaire devra etre validé par un administrateur avant d'être publié)</div>
                </div>

            </form>
            {% else%}
            <div>
                <p>Pour laisser un commentaire vous devez vous connecter</p>
                <button type="button" class="bg-light"><a href="{{ base_path ~ 'login' }}">Se
                        connecter</a></button>
            </div>
            {%endif%}
        </div>

        <!-- end write a comment-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">commentaires</h2>

        <div class="card-body">
            {% for comment in comments %}
            <div class="card">
                <div class="card-body">
                    <p class="card-text">{{ comment.comment }}</p>
                </div>
                <div class="card-footer">
                    <p class="text-muted"><small>{{ comment.author }} a rédigé ce commentaire le {{ comment.date }}</small>
                </div>
            </div>
            <div><br></div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
{% block js %}
<script src="../js/scripts.js"></script>
{% endblock js %}
{% block admin %}
{% if global.role == 2 %}
<h4 class="text-uppercase mb-4"><a href="{{ base_path ~ 'admin' }}">Adminstration du site</a></h4>
{% endif %}
{% endblock admin %}
