{% extends 'base.html' %}
{% block title %}Me contacter{% endblock title %}
{% block menu %}

{% if global.connect == 1 %}
<li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
    href="{{ base_path ~ 'unlocked' }}">Se deconnecter</a></li>
{% block username %}
<li class="nav-item mx-lg-1 row align-items-center text-success"><a href="{{ base_path ~ 'change' }}">bonjour, {{ global.username }}</a></li>
{% endblock username %}
{% else %}
<li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
    href="{{ base_path ~ 'login' }}">Se connecter</a></li>
{% endif %}
{% endblock menu %}

{% block content %}

<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Formulaire de contact</h2>

<div class="divider-custom">
    <div class="divider-custom-line"></div>
    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
    <div class="divider-custom-line"></div>
</div>

    <div class="container">
        <div class="card-body">
            <form action="{{ base_path ~ 'form/sent'}}" method="post">
                <div class="form-group">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Votre nom" name="name"required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Votre prénom" name="prenom"required>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Votre email" name="email"required>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="3" placeholder="Votre message" name="content" required></textarea>
                    </div>

                    <button class="btn btn-success">Envoyer</button>
                    <a href="{{ base_path ~ '/'}}"></i>Annuler</a>
                </div>
        </div>

        </form>
        
    </div>

{% endblock %}
{% block admin %}
{% if global.role == 2 %}
<h4 class="text-uppercase mb-4"><a href="{{ base_path ~ 'admin' }}">Administration du site</a></h4>
{% endif %}
{% endblock admin %}