{% extends 'base.html' %}

{% block content %}
<h1>Création d'un compte</h1>
<form action="{{ base_path ~ 'validation'}}" method="post">
    <section class="page-section portfolio" >
        <div class="form-group">
            <div class="form-group">
                <label for="">Votre identiant: </label>
                <input type="text" class="form-control" name="username">
            </div>
        
            <div class="form-group">
                <label for="">Votre mot de passe : </label>
                <input type="password" class="form-control" name="password">
            </div>
            <div class="form-group">
                <label for="">Confirmation du Mot de passe : </label>
                <input type="password" class="form-control" name="password_conf">
            </div>
            <div class="form-group">
                <label for="">Adresse email : </label>
                <input type="email" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label for="">Confirmation du Mot de passe : </label>
                <input type="email" class="form-control" name="email_conf">
            </div>
            <button class="btn btn-success">S'inscrire</button>
        </div>
    </section>
    </form>
    <a href="{{ base_path ~ '/'}}"><i class="fa fa-arrow-left" aria-hidden="true"></i>Annuler</a>
{% endblock %}

